@media (max-width: 1399.98px) {
  /* main */
  main {
    height: 100%;
  }

  .main-block {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .main-block__search {
    flex-direction: column;
  }

  .main-search__form {
    flex-direction: row;
    width: 100%;
  }

  h2 {
    margin-bottom: 24px;
  }

  .main-block__category
  {
    margin-bottom: 12px;
  }
  .main-search__input {
    display: flex;
    align-items: center;
  }

  h3 {
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .row li {
    width: calc(1/4*100% - 24px); /* 0.25 of page with 24px space in between */
  }
}

@media (max-width: 1199.98px) {
  /* main */
  main {
    height: 100%;
  }

  .main-block {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .main-block__search {
    flex-direction: column;
  }

  .main-search__form {
    flex-direction: row;
    width: 100%;
  }

  h2 {
    margin-bottom: 24px;
  }

  .main-block__category
  {
    margin-bottom: 12px;
  }
  .main-search__input {
    display: flex;
    align-items: center;
  }

  h3 {
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .row li {
    width: calc(1/4*100% - 24px); /* 0.25 of page with 24px space in between */
  }
}

@media (max-width: 991.98px) {
  /* header */
  .container {
    width: 100%;
  }
  header {
    height: 100px;
  }
  .header-block {
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    
  }
  .header-block__add-adv {
    margin: 0;
    margin: 20px 0;
    width: 100%;
  }

   /* main */
   main {
    height: 100%;
  }

  .main-block {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .main-block__search {
    flex-direction: column;
  }

  .main-search__form {
    flex-direction: row;
    width: 100%;
  }

  h2 {
    margin-bottom: 24px;
  }

  .main-block__category
  {
    margin-bottom: 12px;
  }
  .main-search__input {
    display: flex;
    align-items: center;
  }

  h3 {
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .row li {
    width: calc(1/3*100% - 24px); /* 0.33 of page with 24px space in between */
    margin-bottom: 12px;
  }

  .card-adv-name {
    font-size: 16px;
  }
  
  .card-adv-price {
    font-size: 16px;
  }
  
  .card-adv-address-datetime {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  /* header */
  .container {
    width: 100%;
  }
  header {
    height: 100px;
  }
  .header-block {
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
    
  }
  .header-block__add-adv {
    margin: 0;
    margin: 20px 0;
    width: 100%;
  }

   /* main */
   main {
    height: 100%;
  }

  .main-block {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .main-block__search {
    flex-direction: column;
  }

  .main-search__form {
    flex-direction: row;
    width: 100%;
  }

  h2 {
    margin-bottom: 24px;
  }

  .main-block__category
  {
    margin-bottom: 12px;
  }
  .main-search__input {
    display: flex;
    align-items: center;
  }

  h3 {
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .row li {
    width: calc(1/3*100% - 24px); /* 0.33 of page with 24px space in between */
    margin-bottom: 12px;
  }

  .card-adv-name {
    font-size: 16px;
  }
  
  .card-adv-price {
    font-size: 16px;
  }
  
  .card-adv-address-datetime {
    font-size: 12px;
  }
}



@media (max-width: 575.98px) {
  /* header */
  .container {
    width: 100%;
  }
  header {
    height: 100px;
  }
  .header-block {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .header-block__add-adv {
    margin: 0;
    margin: 20px 0;
    width: 100%;
  }

  /* main */
  main {
    height: 100%;
  }

  .main-block {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .main-block__search {
    flex-direction: column;
  }

  .main-search__form {
    flex-direction: row;
    width: 100%;
  }

  h2 {
    margin-bottom: 24px;
  }

  .main-block__category
  {
    margin-bottom: 12px;
  }
  .main-search__input {
    display: flex;
    align-items: center;
  }

  h3 {
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .row {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .row li {
    width: calc(1/2*100% - 24px); /* 0.5 of page with 24px space in between */
    margin-bottom: 12px;
  }

  .card-adv-name {
    font-size: 16px;
  }
  
  .card-adv-price {
    font-size: 16px;
  }
  
  .card-adv-address-datetime {
    font-size: 12px;
  }
}
