@font-face {
  font-family: "InterExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "InterBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf") format("truetype");
}


@font-face {
  font-family: "InterSemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "InterMedium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "InterRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

.container {
  margin: 0 auto;
  width: 1296px;
}

header {
  display: flex;
  width: 100%;
  height: 52px;
  background: #1E293B;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header-block__sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
  font-family: "InterRegular";
  font-size: 14px;
  line-height: 0px;
  color: white;
  text-decoration: none;
}

.header-block__sign svg {
  margin-right: 10px;
}

.header-block__sign:hover {
  color: gray;
  transition: all .3s ease;
}

.header-block__add-adv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px; 
  font-family: "InterRegular";
  font-size: 14px;
  line-height: 0px;
  color: white;
  text-decoration: none;
  background: #3b82f6;
  border-radius: 4px;
}

.header-block__add-adv img {
  margin-left: 9px;
}

.header-block__add-adv:hover {
  background: gray;
  transition: all .6s ease;
}

/* main */

.main-block__search {  
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  justify-content: flex-end;
  height: 100%;
}

h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "InterBold";
  font-size: 30px;
  line-height: 0px;
  color: #1E293B;
  text-decoration: none;

  margin-right: 24px;
}


.main-block__category {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 12px;
  font-family: "InterMedium";
  font-size: 14px;
  line-height: 0px;
  color: #3B82F6;
  text-decoration: none;
  padding: 0 auto;
  width: 152px;
  height: 36px;
  border: 1px solid #3B82F6;
  border-radius: 4px;
}

.main-block__category svg {
  padding-left: 12px;
  margin-right: 8px;
}

.main-block__category:hover {
  border-color: gray;
  color: gray;
  transition: all .3s ease;
}

p img {
  line-height: 0px;
}

.main-search__input {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-right: 12px;
  padding-left: 12px;
  width: 734px;
  height: 36px;
  font-family: "InterRegular";
  border: 1px solid #CBD5E1;
  border-radius: 4px 0px 0px 4px;
  background: #FFFFFF;
  outline: none;
}

.main-search__btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 12px;
  font-family: "InterRegular";
  font-size: 14px;
  line-height: 0px;
  color: white;
  text-decoration: none;
  border: none;
  background: #3B82F6;
  border-radius: 0px 4px 4px 0px;
  width: 90px;
  height: 36px;
  cursor: pointer;
}

.main-search__btn img {
  margin-left: 8px;
}

.main-search__btn:hover {
  background: gray;
  transition: all .6s ease;
}

form {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 824px;
  line-height: 0px;
}


h3 {
  font-family: "InterSemiBold";
  font-size: 24px;
  color: #1E293B;
  margin-top: 56px;
  margin-bottom: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row li {
  width: calc(1/4*100% - 24px); /* 0.25 of page with 24px space in between */
  box-sizing: border-box;
  margin-bottom: 32px;
}

.row__picture img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.row__picture  img:hover {
  background: gray;
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; /* For IE8 and earlier */
  box-shadow: 0 0 0px #000000 !important;
  transition: all .3s ease;
}

.card-adv-name {
  display: flex;
  align-items: center;
  font-family: "InterSemiBold";
  font-size: 18px;
  line-height: 0px;
  color: #3B82F6;
  height: 24px;
  margin: 0 auto;
  text-decoration: none;
}

.card-adv-price {
  display: flex;
  align-items: center;
  font-family: "InterSemiBold";
  font-size: 18px;
  line-height: 0px;
  height: 24px;
  margin: 0 auto;
  text-decoration: none;
}

.card-adv-address-datetime {
  display: flex;
  align-items: center;
  font-family: "InterRegular";
  font-size: 14px;
  line-height: 0px;
  height: 20px;
  margin: 0 auto;
  text-decoration: none;
}
